<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Ronny Steinke" />
        <title>Get Youtube Playlist Length</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header class="masthead">
            <div class="container position-relative fullvh">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-8 glass">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5" style="font-family: ui-monospace;">Youtube-Playlist Length</h1>
                              <form class="form-subscribe" method="POST">
                                <div class="row">
                                    <div class="col">
                                        {% for message in get_flashed_messages()%}
                                            <p> {{message}} </p>
                                        {% endfor %}
                                        <p><input class="col-sm-7 col-md-8" type = "text" name="yt-link" placeholder="https://www.youtube.com/playlist?list=PLqXS1b2lRpYTC04DA9J8hta6oYEKOd91N"/></p>
                                        <button class="btn btn-primary btn-sm col-sm-3" id="yt-playlist" type="submit" value = "GREET">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer -->
        <footer>
            <div class="myfooter" style="width:100%; text-align:left">App build with Flask & PyTube</div>
            <div class="myfooter" style="width:100%;text-align:right">Background Image from <a href="https://de.vecteezy.com/">Vecteezy.com</a></div>
        </footer>
    </body>
</html>
